*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-colour: #E0E1DF;
    --main-brand-colour: #53624E;
    --padding-side: 140px;
}

body {
    background: var(--main-bg-colour);
    padding: 40px var(--padding-side);
}

.main{
    color: var(--main-brand-colour);
}

.navBar{
    background: var(--main-bg-colour);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    padding: 10px var(--padding-side);
    opacity: 1;
    transition: opacity 1s linear, top 1s linear;
}

/*To add .scroll with js*/ 
.navBar .scroll{
    top: -100%;
    opacity: 0;
}

.tree{
    margin-left: auto;
    margin-right: auto;
}

.menu{
    padding-left: 30px;
    font-size: 32px;
}

.heading {
    margin-top: 120px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid var(--main-brand-colour);
    margin-bottom: 40px;
}

.heading div{
    border-top: 1px solid var(--main-brand-colour);
    padding: 20px;
    font-size: 7vw;
}

.heading div span{
    text-transform: lowercase;
    font-style: italic;
}


.reserveButton, 
.reservations{
    font-size: 14px;
}

.reserveButton{
    text-transform: uppercase;
    color: var(--main-bg-colour);
    background: var(--main-brand-colour);
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid var(--main-brand-colour);
}

.reservations ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
    list-style: none;
}

.reservations ul li{
    padding: 30px;
    border: 1px solid var(--main-brand-colour);
    text-align: center;
    position: relative;
}

.calendar{
    background: var(--main-bg-colour);
    border: 1px solid var(--main-brand-colour);
    position: absolute;
    height: 300px;
    width: 200%;
    bottom: -300px;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 1s linear;
}

/* To be added with js  */
.calendar .active{
    opacity: 1;
}

/*Temporary hover for calendar -- change to click with js*/
.Llegada:hover .calendar{
    display: block;
}

img{
    width: 100%;
}


@media (max-width: 860px) {
    .tree{
        /*Hides element but is still there to allow flex/grid*/
        visibility: hidden;
    }

    .reservations{
        /*Hides elements completely and allows page to flow*/
        display: none;
    }
}