*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-back-colour: #f5f5f3;
    --border-colour: 1px solid #c6c6c6;
    --padding-side: 30px;
    --max-width: 100%;
}

body {
    background: var(--main-back-colour);
    padding: var(--padding-side);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

nav li{
    display: inline-flex;
    list-style: none;
    padding: 0px 0px 10px 10px;
}

.logo{
    width: 5%;
    height:auto;
}

.tips{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-top: var(--border-colour);
    border-bottom: var(--border-colour);
}

div.tips{
    display: flex;
}


.mainImagesTop{
    display: flex;
    flex-flow: row nowrap;
    width: var(--max-width);
    padding: 15px 0px;
    border-bottom: var(--border-colour);
    display: grid;
}

.imagesize{
    width:100px;
    height: 100px;
}

.medText{
    font-size: 2rem;
}